@use "../global/forwards" as f;

.l-footer {
  background-image: url("../../images/footer/bg-footer.jpg");
  background-size: cover;
  color: f.$white;
  padding: 128px 0px 80px;
}

.l-footer-top {
  border-bottom: 1px solid f.$border-white;
  display: flex;
  justify-content: space-between;
  margin: 0 8%;
  padding-bottom: 96px;
}

.l-footer--left {
  .l-footer__title {
    font-size: f.$fz-28;
  }

  .l-footer__address--first {
    margin-top: 24px;
  }

  .l-footer__address--secound {
    margin-top: 28px;
  }

  .l-footer__number {
    font-size: f.$fz-24;
    margin-top: 56px;
  }
}

.l-footer__nav-list {
  column-gap: 16px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 80px;

  li {
    h3 {
      font-weight: bold;
    }

    ul {
      display: grid;
      gap: 16px;
      margin-top: 16px;
    }
  }
}

.l-footer-bottom {
  font-size: f.$fz-12;
  margin-top: 40px;
  text-align: center;
}