@use "../global/forwards" as f;
@use "../global/mixin/breakpoint" as m;

.p-kaisou {
  padding: 24px 0 80px;

  .p-kaisou__title {
    margin-top: 80px;

    @include m.mq(sp) {
      margin-top: 32px;
    }
  }

  .p-kaisou__text {
    margin-top: 40px;
    text-align: center;

    @include m.mq(sp) {
      margin-top: 32px;
    }
  }

  ul {
    display: grid;
    gap: 12px;
    margin-top: 64px;

    @include m.mq(sp) {
      gap: 8px;
      margin-top: 48px;
    }
  }

  li {
    align-items: center;
    background: f.$bg-white;
    border: 1px solid f.$border-green;
    border-radius: 8px;
    display: grid;
    gap: 16px;
    grid-template-columns: 120px 1fr;
    padding: 24px;
    width: 100%;

    @include m.mq(sp) {
      grid-template-columns: auto;
      padding: 32px 16px;
    }

    .p-kaisou-step__icon {
      align-items: center;
      background: f.$bg-yellow;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      height: 120px;
      width: 120px;

      @include m.mq(sp) {
        margin: 0 auto;
      }

      img {
        width: 48px;
        height: 50px;
      }
    }

    .p-kaisou-step__textArea {
      align-items: center;
      display: grid;
      gap: 18px;
      @include m.mq(sp) {
        gap: 12px;
      }

      .p-kaisou-step__title {
        align-items: center;
        display: flex;
        gap: 16px;
        @include m.mq(sp) {
          gap: 8px;
        }

        label {
          align-items: center;
          background: f.$bg-green;
          border-radius: 12px;
          display: flex;
          color: f.$white;
          font-weight: bold;
          font-size: f.$fz-14;
          padding: 2px 12px;
          @include m.mq(sp) {
            font-size: f.$fz-12;
            gap: 8px;
          }
        }

        h3 {
          color: f.$primary;
          font-size: f.$fz-20;
          font-weight: bold;
          line-height: 1;
          @include m.mq(sp) {
            font-size: f.$fz-16;
          }
        }
      }
    }
  }

  .p-kaisou-step__circle {
    display: grid;
    gap: 6px;
    justify-content: center;

    span {
      background: f.$bg-green;
      border-radius: 50%;
      height: 6px;
      width: 6px;
    }
  }
}