@use "../global/forwards" as f;
@use "../global/mixin/breakpoint" as m;

.p-kaikan {
  padding: 24px 0;
  @include m.mq(sp) {
    padding: 24px 0 80px;
  }
}

.p-kaikan__title {
  margin-top: 80px;

  @include m.mq(sp) {
    margin-top: 32px;
  }
}

.p-kaikan__text {
  margin-top: 40px;
  text-align: center;

  @include m.mq(sp) {
    margin-top: 32px;
  }
}

.p-kaikan__mv {
  margin-top: 64px;
  width: 100%;

  @include m.mq(sp) {
    margin-top: 40px;
  }

  img {
    height: 576px;

    @include m.mq(sp) {
      height: auto;
    }
  }
}

.p-kaikan-floor {
  display: grid;
  gap: 80px;
  margin-top: 80px;

  h2 {
    color: f.$white;
    font-weight: bold;
    line-height: 1;
    padding: 10px 0;
    text-align: center;
  }

  .p-kaikan-floor__img {
    display: grid;
    gap: 24px;
    margin-top: 40px;

    @include m.mq(sp) {
      gap: 16px;
      margin-top: 16px;
    }
  }

  .p-kaikan-floor__text {
    margin-top: 32px;

    @include m.mq(sp) {
      margin-top: 16px;
    }
  }

  section:first-of-type {
    h2 {
      background: f.$border-green;
    }

    .p-kaikan-floor__img {
      grid-template-columns: 550px 387px;

      @include m.mq(sp) {
        grid-template-columns: auto;
      }
    }
  }

  section:last-of-type {
    h2 {
      background: f.$border-gold;
    }

    .p-kaikan-floor__img {
      grid-template-columns: 603px 333px;

      @include m.mq(sp) {
        grid-template-columns: auto;
      }
    }

    .p-kaikan-floor__img--right {
      display: grid;
      gap: 24px;
      @include m.mq(sp) {
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .p-kaikan-floor-room {
    margin-top: 72px;

    @include m.mq(sp) {
      margin-top: 40px;
    }

    ul {
      display: grid;
      gap: 24px;

      @include m.mq(sp) {
        gap: 16px;
      }
    }

    li {
      display: grid;
      gap: 24px;
      grid-template-columns: 340px 1fr;

      @include m.mq(sp) {
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
      }

      img {
        height: 200px;
        width: 100%;

        @include m.mq(sp) {
          height: auto;
        }
      }

      h3 {
        font-size: f.$fz-20;
        font-weight: bold;
        line-height: 1.4;

        @include m.mq(sp) {
          font-size: f.$fz-14;
        }
      }

      p {
        margin-top: 16px;

        @include m.mq(sp) {
          font-size: f.$fz-12;
          margin-top: 8px;
        }
      }
    }
  }
}

// 館内マップ / ご利用料金
.p-kaikan-map {
  padding: 120px 0;
  @include m.mq(sp) {
    padding: 80px 16px;
  }

  .p-kaikan-map__image {
    margin-top: 72px;
    @include m.mq(sp) {
      margin-top: 48px;
    }
  }

  .p-kaikan-map__tableArea {
    @include m.mq(sp) {
      overflow: scroll;
    }
  }

  .p-kaikan-map__table {
    margin-top: 80px;
    width: 100%;
    @include m.mq(sp) {
      margin-top: 32px;
      width: 560px;
    }

    th {
      height: 64px;
    }

    td {
      height: 40px;
    }

    th,
    td {
      border: 1px solid f.$table-border;
      font-weight: bold;
      text-align: center;
    }

    .table-tbody--first {
      tr:last-of-type {
        background: f.$bg-lightGreen;
      }
    }

    .table-tbody--second {
      tr:last-of-type {
        background: f.$bg-lightGold;
      }
    }

    .table-space {
      height: 4px;
    }

    .cell-green {
      background: f.$bg-green;
      color: f.$white;
      @include m.mq(sp) {
        padding: 0 22px;
      }
    }

    .cell-gold {
      background: f.$bg-gold;
      color: f.$white;
      @include m.mq(sp) {
        padding: 0 22px;
      }
    }

    .p-kaikan-map__table--bg-gray {
      background: f.$bg-gray;
    }
  }

  .p-kaikan-map__table-caption {
    font-size: f.$fz-14;
    margin-top: 16px;
    text-align: right;
    @include m.mq(sp) {
      text-align: left;
    }
  }

  .p-kaikan-map__table-info-list {
    background: f.$bg-gray;
    font-size: f.$fz-14;
    margin-top: 32px;
    padding: 24px;

    li {
      align-items: center;
      display: grid;
      gap: 12px;
      grid-template-columns: min-content 1fr;
      @include m.mq(sp) {
        align-items: baseline;
      }

      &::before {
        background: f.$bg-gold;
        border-radius: 50%;
        content: "";
        height: 6px;
        width: 6px;
      }
    }
  }
}