@use "../global/forwards" as f;
@use "../global/mixin/breakpoint" as m;

// お墓のないお墓
.p-noukotsudou-about {
  padding: 24px 0 120px;
  @include m.mq(sp) {
    padding: 24px 0 80px;
  }

  .p-noukotsudou__title {
    margin-top: 80px;

    @include m.mq(sp) {
      margin-top: 32px;
    }
  }

  .p-noukotsudou-about__text {
    margin-top: 40px;
    text-align: center;

    @include m.mq(sp) {
      margin-top: 32px;
    }
  }

  .p-noukotsudou-about__image {
    margin-top: 64px;

    @include m.mq(sp) {
      margin-top: 40px;
    }
  }

  .p-noukotsudou-about__description {
    display: grid;
    gap: 40px;
    grid-template-columns: 45% 1fr;
    margin-top: 80px;

    @include m.mq(sp) {
      grid-template-columns: auto;
      margin-top: 12px;
    }

    .p-noukotsudou-about__description-images {
      display: grid;
      gap: 40px;

      @include m.mq(sp) {
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 48px;

      @include m.mq(sp) {
        gap: 24px;
      }

      li {
        position: relative;

        &::before {
          background: f.$bg-gold;
          content: '';
          height: 12px;
          position: absolute;
          transform: rotate(45deg);
          top: 10%;
          width: 12px;
        }

        p {
          padding-left: 24px;
        }
      }
    }
  }
}

// Youtube
.p-noukotsudou-movie {
  iframe {
    height: 600px;
    width: 100%;
    @include m.mq(sp) {
      height: 300px;
    }
  }
}

// ご利用料金について
.p-noukotsudou-fee {
  padding: 120px 0;

  @include m.mq(sp) {
    padding: 80px 0;
  }

  img {
    margin-top: 64px;

    @include m.mq(sp) {
      margin-top: 32px;
    }
  }

  h3 {
    border-bottom: 2px solid f.$border-green;
    color: f.$primary;
    font-size: f.$fz-24;
    font-weight: bold;
    line-height: 1;
    margin-top: 56px;
    padding-bottom: 24px;

    @include m.mq(sp) {
      font-size: f.$fz-16;
      padding-bottom: 16px;
    }
  }

  .p-noukotsudou-fee__table {
    display: grid;
    gap: 32px;
    grid-template-columns: 300px 1fr;
    margin-top: 16px;

    @include m.mq(sp) {
      gap: 24px;
      grid-template-columns: auto;
    }

    table {

      th,
      td {
        font-weight: bold;
        padding: 8px;
        text-align: center;
      }

      thead {
        height: 86px;
      }

      tbody tr {
        height: 64px;
      }

      th {
        background: f.$bg-green;
        border: 1px solid f.$border-white;
        color: f.$white;
        font-size: f.$fz-16;
      }

      td {
        border: 1px solid f.$border-green;
      }

      tr:nth-of-type(2n + 1) {
        background: f.$bg-white;
      }

      tr:nth-of-type(2n) {
        background: f.$bg-yellow;
      }

      &:first-of-type {
        @include m.mq(sp) {
          th, td {
            width: 50%;
          }
        }
      }

      .diagonal-line {
        background-image: linear-gradient(to left top, transparent calc(50% - 0.5px), f.$border-green 50%, f.$border-green calc(50% + 0.5px), transparent calc(50% + 1px));
      }

      .with-caption {
        position: relative;

        span {
          bottom: 5%;
          font-size: f.$fz-12;
          position: absolute;
        }
      }
    }
  }

  .p-noukotsudou-fee__table-description {
    background: f.$bg-white;
    font-size: f.$fz-14;
    margin-top: 32px;
    padding: 24px;

    @include m.mq(sp) {
      padding: 16px;
    }

    ul li {
      align-items: center;
      display: flex;
      gap: 12px;

      @include m.mq(sp) {
        align-items: baseline;
        display: grid;
        grid-template-columns: min-content 1fr;
      }
    }

    ul:first-of-type {
      li {
        &::before {
          background: f.$bg-gold;
          border-radius: 50%;
          content: "";
          height: 6px;
          width: 6px;
        }
      }
    }

    ul:last-of-type {
      margin-top: 24px;

      @include m.mq(sp) {
        margin-top: 12px;
      }

      li:first-of-type::before {
        content: "※1";
      }

      li:last-of-type::before {
        content: "※2";
      }
    }
  }
}