@use "../global/forwards" as f;

.p-reiansitsu--top {
  padding: 120px 0;
}

.p-reiansitsu-type {
  &>p {
    margin-top: 40px;
    text-align: center;
  }

  .p-reiansitsu-room__list {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 72px;

    li p {
      margin-top: 24px;
    }
  }
}

.p-reiansitsu-eternity {
  margin-top: 128px;

  &>img {
    height: 540px;
    margin-top: 40px;
  }

  .p-reiansitsu-eternity__title {
    margin-top: 64px;
    text-align: center;

    h3 {
      font-size: f.$fz-24;
    }

    p {
      margin-top: 16px;
    }
  }

  .p-reiansitsu-eternity__list {
    display: grid;
    gap: 48px;
    margin-top: 80px;

    li {
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(2, 1fr);

      p:last-of-type {
        margin-top: 16px;
      }
    }
  }
}

.p-reiansitsu__image--first {
  height: 570px;
  width: 100%;
}

.p-reiansitsu-features {
  padding: 120px 0;

  .p-reiansitsu-features__list {
    background: f.$bg-white;
    display: grid;
    gap: 24px;
    margin-top: 64px;
    padding: 80px;

    .p-reiansitsu-features__items {
      border-bottom: 1px solid f.$border-gray;
      display: grid;
      gap: 32px;
      grid-template-columns: 1fr 290px;
      padding-bottom: 24px;
    }

    .p-reiansitsu-features__items--left {
      h3 {
        align-items: center;
        display: flex;
        font-size: f.$fz-24;
        font-weight: bold;
        gap: 24px;

        div {
          align-items: center;
          color: f.$white;
          display: flex;
          justify-content: center;
          height: 48px;
          transform: rotate(45deg);
          width: 48px;

          span {
            display: inline-block;
            transform: rotate(-45deg);
          }
        }
      }

      .green div {
        background: f.$bg-green;
      }

      .gold div {
        background: f.$bg-gold;
      }

      .p-reiansitsu-features__items-text {
        margin-top: 24px;
      }

      .p-reiansitsu-features__items-text-list {
        border: 1px solid f.$border-green;
        font-size: f.$fz-14;
        margin-top: 32px;
        padding: 16px;
      }
    }

    .p-reiansitsu-features__items-images {
      display: grid;
      gap: 32px;

      img {
        height: 190px;
      }
    }
  }
}