@charset "UTF-8";

$text: #212121;
$white: #FFF;
$red: #F80606;
$primary: #3D603B;
$secondary: #C4A231;

$bg-white: #FFF;
$bg-gray: #F5F5F5;
$bg-green: #3D603B;
$bg-yellow: #FEF4CE;
$bg-gold: #C4A231;
$bg-lightGreen: #F0F7D6;
$bg-lightGold: #FEF4CE;

$border-white: #FFF;
$border-gray:#D9D9D9;
$border-dark-gray: #707070;
$border-green: #3D603B;
$border-dark-green: #365635;
$border-gold: #C4A231;
$table-border: #707070;