@use "../../global/forwards" as f;
@use "../../global/mixin/breakpoint" as m;

// トップのサブタイトル
.c-top-subtitle {
  color: f.$primary;
  font-size: f.$fz-48;
  font-family: "Roboto", sans-serif;
  line-height: 1.35;
  @include m.mq(sp) {
    font-size: f.$fz-36;
  }
}

.c-top-subtitle__captionArea {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.c-top-subtitle__circle {
  background: f.$secondary;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.c-top-subtitle__caption {
  font-size: f.$fz-14;
  @include m.mq(sp) {
    font-size: f.$fz-12;
  }
}

// 下層ページのサブタイトル
.c-subtitle {
  font-size: f.$fz-28;
  font-weight: bold;
}

.c-subtitle--underline {
  display: block;
  font-size: f.$fz-28;
  font-weight: bold;
  padding-bottom: 12px;
  position: relative;
  text-align: center;

  @include m.mq(sp) {
    font-size: f.$fz-20;
  }

  &::after {
    background: f.$border-gold;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 60px;
  }
}

.c-subtitle--rhombus {
  align-items: center;
  display: flex;
  font-size: f.$fz-24;
  font-weight: bold;
  justify-content: center;
  gap: 12px;
  @include m.mq(sp) {
    font-size: f.$fz-20;
    gap: 8px;
  }

  &::before,
  &::after {
    background: f.$bg-gold;
    content: "";
    height: 20px;
    transform: rotate(45deg);
    width: 20px;
    @include m.mq(sp) {
      height: 12px;
      width: 12px;
    }
  }
}